* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-actions-cont {
  height: 3rem;
  background-color: white;
  display: flex;
  align-items: flex-end;
}
.page-action {
  margin: 0.5rem;
  color: black;
  cursor: pointer;
}

.page-action:hover {
  margin: 0.5rem;
  color: gray;
  cursor: pointer;
}
.cellprops-action-cont {
  height: 3rem;
  background-color: #edf2fa;
  border: 1px solid #e2eaf8;
  border-radius: 87px;
  display: flex;
  align-items: center;
}

.cellprops-action-cont > * {
  display: inline-block;
  margin: 0.5rem;
  cursor: pointer;
}

.font-family-prop,
.font-size-prop {
  padding: 0.2rem;
}

.cellprops-action-cont > select {
  border: none;
  border-radius: 5px;
  outline: none;
}

.formula-actions-cont {
  height: 2rem;
  background-color: #ecf0f1;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.grid-cont {
  height: calc(100vh - 12rem);
  position: relative;
  overflow: scroll;
}

.sheet-count {
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}

.sheet-count > * {
  display: inline-block;
}

.sheets-folder-cont {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sheet-folder {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.formula-actions-cont > * {
  display: inline-block;
  margin-right: 0.7rem;
}

.formula-actions-cont > input {
  border: none;
  outline: none;
  height: 70%;
}
.formula-icon {
  width: 1.2rem;
}
.address-bar {
  width: 5rem;
  text-align: center;
}
.formula-bar {
  width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}





